/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "open sans" , sans-serif;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:768px){
    .container {
        width: 750px;
    }
}
@media (min-width:992px){
    .container {
        width: 970px;
    }
}
@media (min-width:1200px){
    .container {
        width: 1170px;
    }
}
/* end global rules */
/* start variables */
:root {
    --main-color:blue;
    --second-color:rgb(0, 255, 255);
    --black-color:black;
    --bg-color:rgba(200, 200, 200, 0.1);
    --duree-transition:0.3s;
}
/* end variables */
/* start header */
header {
    z-index: 2;
    width: 100%;
    position: sticky;
}

header .container {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    min-height: 80px;
    position: relative;
    background-color: var(--main-color);
}

.pc {
    width: 200px;
    height: 110px;
}

header nav {
    display: flex;
    align-items: center;
}

header .container nav ul {
    display: flex;
}

@media (max-width:768px){
    header nav ul li{
        display: none;
    }
    header nav #menu {
        color: var(--main-color);
        background-color: white;
        padding: 8px 8px;
        margin-left: 15px;
    }
    .tlfn {
        width: 35px;
        height: 35px;
        left: 13px;
        top: 25px;
        position: absolute;
    }
    .pc {
        display: none;
    }
    #menu:hover{
        border: 1px solid var(--main-color);
        border-radius: 10px;
    }
    header nav a #menu:hover ul{
        display: inline-block;
        width: 100%;
        position: sticky;
        z-index: 3;
    }
}

@media (min-width:768px){
    header nav #menu {
        display: none;
    }
    .tlfn {
        display: none;
    }
}

header .container nav  .icon{
    margin-left: 15px;
    transition: var(--duree-transition);
    background-color: white;
    padding: 8px 8px;
}

header nav ul li {
    margin-left: 15px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 12px;
    transition: var(--duree-transition);
    z-index: 2;
    position: relative;
    display: block;
    font-weight: bold;
    padding: 10px 20px;
    background-color: white;
}

header .container::after {
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    background-color: var(--main-color);
    bottom: 0;
    left: 15px;
}

header nav ul li a:active {
    background-color: var(--second-color);
}

header nav ul li a:hover {
    border: 1px solid var(--main-color);
    border-radius: 10px;
}

header .container nav  .icon:hover {
    border: 1px solid var(--main-color);
    border-radius: 10px;
}

header img:hover{
    border: 1px solid var(--main-color);
    border-radius:10px ;
}
/* end header */