body
{
    position: relative;
    background-image: url(rR.jpg);
    background-repeat: no-repeat;

}
.debut
{
    position: relative;
    font-family: "Sofia", sans-serif;
    color:rgb(138, 145, 151);
    font-size: 60px;
    margin-top: 50px;
    text-align: center;
}

.notready
{
    position:relative;
    top: 200px;
    padding: 3px;
    margin-left: 300px;
    font-size: 30px;
}
.ready
{
    position: relative;
    top: 150px;
    margin-left: 1000px;
    padding: 2px;
    font-size: 30px;
}
.end
{
    position: relative;
    color:rgb(0, 217, 255);
    font-size: 15px;
    top: 350px;
    text-align: center;
}